body{
    background-color: #f8f8f8;
    margin: 0;
}
.services__title{
    display: flex;
    font-family: TTLakesM;
    font-size: 16px;
    height: 52px;
    align-items: center;
    line-height: 24px;
    color: #7E7E82;
    text-transform: uppercase;
    background-color: white;
    padding: 10px;
    margin: 0;
    padding-left: 15px;
}
.swiper {
    margin-top: 15px;
    width: 100%;
    height: 72px;
}

.swiper-slide {
    background-color: white;
    border: 2px solid #EAEAEA;
    border-radius: 7px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.swiper-wrapper{
    margin-left: 15px !important;
}
.swiper-pagination{
    top:170px !important;
}
.list-equipment{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    gap: 25px;
    row-gap: 20px;
}
button.list-equipment__item{
    height: 72px;
    width: 222px;
    background-color: white;
    border: 2px solid #EAEAEA;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button.hidden{
    display: none;
}
button.read-more {
    all: unset;
    margin-left: 25px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: TTLakesM;
    line-height: 24px;
    font-size: 16px;
    flex-shrink: 0 !important;
}
.rotate-img{
    transform: rotate(180deg);
}
.swiper-pagination .swiper-pagination-bullet-active {
    background: #a3a3a3;
}
.swiper-pagination .swiper-pagination-bullet {
    background: #c0c0c0;
}
@media (min-width: 1120px){
    .list-equipment__item:nth-child(7),
    .list-equipment__item:nth-child(8){
        display: flex;
    }
    button.list-equipment__item{
        width: 240px;
    } 
}
@media (max-width: 767px){
    div.list-equipment{
            display: none;
        }
    button.read-more{
        display: none;
    } 
}
@media (min-width: 767px){
    div.swiper,
    div.swiper-pagination{
        display: none;
    }
    .go{
        margin-right: 7px;
    }
    .picture{
        margin-left: 5px;
    }
    .services__title{
        padding-left: 26px;
    }
}
@font-face {
    font-family: "TTLakesM";
    src: url("fonts/TTLakes-Medium.ttf") format("truetype");
}
